@model List<Entities.ItemDTO>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "CheckOut";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href=@Url.Action("Index","Home")><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Checkout Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

@{
    int count = 1;
    int totalCharge = 0;
}

<div class="checkout">
    <div class="container">
        <h3 class="animated wow slideInLeft" data-wow-delay=".5s">Your shopping cart contains: <span>@Model.Count Products</span></h3>
        <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th  style="width:40%">Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Service Charges</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {

                    <tr class="rem1">
                        <td class="invert">@count</td>
                        <td class="invert-image"><a href="#"><img src="~/Content/images/@item.picture1" alt="" class="img-responsive" /></a></td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <div class="entry value"><span>@item.quantity</span></div>
                                    <div class="entry value-plus active">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@item.Name</td>
                        <td class="invert">$5.00</td>
                        <td class="invert">$@item.priceNew</td>
                        <td class="invert">
                            <div class="rem">
                                <div class="close1"> </div>
                            </div>
                            <script>

                                $(document).ready(function (c) {
                                    $('.close1').on('click', function (c) {
                                        $('.rem1').fadeOut('slow', function (c) {
                                            $('.rem1').remove();
                                        });
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                        count = count + 1;
                        totalCharge = totalCharge + item.priceNew;
                }
            </table>

        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Continue to basket</h4>
                <ul>
                    @foreach (var it in Model)
                    {
                        <li>@it.Name <i>-</i> <span>$@it.priceNew</span></li>
                    }
                    @{
                        int totalTax = 5* Model.Count;
                        int total = totalCharge + totalTax;
                    }
                    <li>Total Service Charges <i>-</i> <span>$@totalTax</span></li>
                    <li><h3>Total <i>-</i> <span>$@total</span></h3></li>
                </ul>
            </div>
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
            </div>
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a style="padding-right:10px;" href="@Url.Action("","")"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Buy</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->