@model List<Entities.ItemDTO>
@{
    ViewBag.Title = "Product";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href=@Url.Action("Index","Home")><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Products </li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
@if (Model == null)
{

}
else
{
    var count = 1;
    <div id="div0">
        @foreach (var item in Model)
        {
        if (count == 1 || count == 4)
        {
        <div id="div1">
            <img src="~/Content/images/@item.picture1" width="100%" height="80%;"/>
            @*<div class="new-collections-grid1-left simpleCart_shelfItem">
                <a class="item_add" href="#">add to cart </a>
             </div>*@
            <h4><a href="../Home/Single/@item.Id">@item.Name</a></h4>
            <p>@item.description</p>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
                <p><i>$@item.priceOld</i> <span class="item_price">$@item.priceNew</span><a class="item_add" href="@Url.Action("Bill", "Home", new { data = item.Id })">Add to cart </a></p>
            </div>
        </div>
        count++;
        }
        else if (count == 2 || count == 5)
        {
        <div id="div2">
            <img src="~/Content/images/@item.picture1" width="100%"height="80%;"/>
            @*<div class="new-collections-grid1-left simpleCart_shelfItem">
                <a class="item_add" href="#">add to cart </a>
            </div>*@
            <h4><a href="../Home/Single/@item.Id">@item.Name</a></h4>
            <p>@item.description</p>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
                <p><i>$@item.priceOld</i> <span class="item_price">$@item.priceNew</span><a class="item_add" href="@Url.Action("Bill", "Home", new { data = item.Id })">Add to cart </a></p>
            </div>
        </div>
        count++;
        }
        else if (count == 3 || count == 6)
        {
        <div id="div3">
            <img src="~/Content/images/@item.picture1" width="100%"height="80%;"/>
            <h4><a href="../Home/Single/@item.Id">@item.Name</a></h4>
            <p>@item.description</p>
            <div class="new-collections-grid1-left simpleCart_shelfItem">
                <p><i>$@item.priceOld</i> <span class="item_price">$@item.priceNew</span><a class="item_add" href="@Url.Action("Bill", "Home", new { data = item.Id })">Add to cart </a></p>
            </div>
            @*<div class="new-collections-grid1-left simpleCart_shelfItem">
                <a class="item_add" href="#">add to cart </a>
            </div>*@
        </div>
        count++;
        }
            <br><br>
        }
    </div>
}
