@model List<Entities.ItemDTO>
@{

	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Tables";
}
<link href="~/Content/AdminCSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminCSS/datepicker3.css" rel="stylesheet">
<link href="~/Content/AdminCSS/styles.css" rel="stylesheet">
<link href="~/Content/AdminCSS/bootstrap-table.css" rel="stylesheet">

<script src="~/Scripts/lumino.glyphs.js"></script>



<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
			<li class="active">Icons</li>
		</ol>
	</div><!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Tables</h1>
		</div>
	</div><!--/.row-->


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">Items</div>
                <div style="float:left"><a href="@Url.Action("AddItem","Admin")" >Add New Item</a></div>
				<div class="panel-body">

                    <table data-toggle="table" data-url="tables/data2.json">
                        <thead>
                            <tr>
                                <th data-field="id" >Item ID</th>
                                <th data-field="name">Item Name</th>
                                <th data-field="price">Item Price</th>
                                <th data-field="Picture">Item Picture</th>
                                <th>Edit Or Delete</th>
                            </tr>
                        </thead>
                        @if (Model != null)
                        {
                            foreach (var it in Model)
                            {
                                var id = @it.Id;
                                <tr>
                                    <td>@it.Id</td>
                                    <td>@it.Name</td>
                                    <td>@it.priceNew</td>
                                    <td><img src="~/Content/images/@it.picture1" width="40px"></td>
                                    <td><a href="@Url.Action("EditItem","Admin",new { data=it.Id})"> Edit </a>|<a href="@Url.Action("DeleteItem", "Admin",new { data = it.Id})">Delete</a></td>
                                </tr>
                            }
                        }
                        
                        
                    </table>


				</div>
			</div>
		</div>
	</div><!--/.row-->


</div><!--/.main-->



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/chart.min.js"></script>
<script src="~/Scripts/chart-data.js"></script>
<script src="~/Scripts/easypiechart.js"></script>
<script src="~/Scripts/easypiechart-data.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-table.js"></script>
<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){
				$(this).find('em:first').toggleClass("glyphicon-minus");
			});
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
</script>

@*<script>
    var id1;
    function func(id)
    {
            $.ajax({
                url: "http://localhost:55210//Admin/DeleteItem",
                type: "Post",
                data: JSON.stringify([id]),
                contentType: 'application/json; charset=utf-8',
                success: function (resp)
                {
                    alert("Yeah");
                },
                failure: function () { alert("failure"); },
                error: function (xhr) {
                    alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                }
            });
        }
</script>*@